.topnav {
  overflow: hidden;
  background-color: #02075d;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: #3366BB;
}

.topnav a.active {
  background-color: #f2f2f2;
  color: #3366BB;
}

.topnavSelected {
  color: red!important;
}