.nav {
  background-color: #02075d;
}

.topnav {
  overflow: hidden;
  background-color: #02075d;
  color: #f2f2f2;
}

.topnav .navHeader {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .navHeader:hover {
  background-color: #9ca0d6;
  color: #02075d;
}

.topnav .navHeader.active {
  background-color: #9ca0d6;
  color: #9c7711;
}

.topnavSelected {
  color: #ffbb00!important;
}

.topnavSelected:hover {
  color: #02075d!important;
}

.login {
  float: right!important;
}